body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-indent: 12px;
}

h1{

}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-decoration:underline;
}